.ls {
    height: 100svh;
    min-width: 0;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

.ls-container {
    width: 100%;
}

.ls-top {
    padding: 10px 0 40px;
}

.ls-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-nav .logo {
    max-width: 120px;
}


.ls-search {
    background-color: white;
    border-radius: 100px;

    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 12px;
    margin-top: 20px;
}

.ls-search img {
    width: 16px;
    opacity: 0.6;
}

.ls-search label {
    cursor: text;
    display: flex;
    align-items: center;
}

.ls-search input {
    background: transparent;
    color: var(--dark);
    border: none;
    outline: none;
    font-size: 12px;
}

.ls-search input::placeholder {
    color: var(--dark);
    opacity: 0.5;
}

.ls-list {
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}

.friends {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 13px;
}

.friends div {
    display: flex;
    flex-direction: column;
}

.friends img {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.friends p,
.friends span {
    color: var(--dark);
}

.friends span {
    opacity: 0.7;
    font-size: 12px;
}

.friends.border img {
    border: 3px solid var(--online);
}

.friends.border div span {
    color: var(--online);
}





@media (min-width: 700px) {

    .friends:hover {
        background-color: var(--accent);
    }

    .ls button:hover {
        background-color: var(--primary);
        ;
    }

}

@media (max-width: 700px) {

    .chat{ display: block;}

    .ls {
        padding: 0 20px; height: 100svh; width: 100vw;
    }

    .ls-top {padding: 0 0 40px;}

    .ls-nav { justify-content: center;}

    .ls-nav .menu .point div{ background-color: var(--accent);}

    .ls-search { margin-top: 40px;}

    .ls-search input {
        font-size: 16px;
    }

    .friends p {
        font-size: 15px;
    }

    .friends span {
        margin-top: -3px;
    }

    .friends p,
    .friends span {
        color: var(--light);
    }

    .ls .button-logout {
        background-color: var(--accent);
        color: var(--primary);
    }

    /* .tb .button-chat{ color: var(--accent);}
    .tb .button-profile{ color: var(--primary);} */

}