/* .chat{
    min-height: 100vh;
    background: linear-gradient(var(--primary), var(--accent));
    display: grid;
    place-items: center;
}

.chat-container{
    width: 95%; height: 75svh;
    max-width: 1000px;
    background-color: var(--dark);
    border-radius: 32px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
} */

.chat{
    height: 100svh;
    display: grid;
    place-items: center;
/*     background: linear-gradient(
        to top,
        var(--primary) 0%,
        var(--dark) 70%,
        var(--dark) 100%
    ); */
    background-color: var(--light);
}

.chat-container{
    width: 100%; height: 100svh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.loading{
    font-size: 50px;
    color: var(--light);
    font-family: 'candal';
}


@media (max-width: 700px) {

    .chat{
        height: 100svh;
        background-color: var(--primary);
        overflow: hidden;
    }

    .chat-box-layout{
        height: 100svh;
        display: flex; flex-direction: column;
        overflow: hidden;
    }
}
