.rs{
    height: 100svh;
    color: var(--dark);
    position: relative;
    overflow-y: scroll;
    padding: 25px;

    display: flex; flex-direction: column; gap: 80px;
}

.rs-profile{
    display: flex; flex-direction: column; gap: 20px;
    align-items: center; justify-content: center;
}

.rs-profile .profile-img{
    margin-top: 5px;
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.rs-profile .rs-text{
    display: flex; flex-direction: column; gap: 0;
    align-items: center; justify-content: center;
}

.rs-profile h3, .rs-profile p{
    color: var(--dark);
}

.rs-profile h3{
    font-size: 18px;
    display: flex; gap: 5px;
    align-items: center; justify-content: center;
}

.online-name{
    display: flex; gap: 5px;
    align-items: center; justify-content: center;
    height: fit-content;
}

.online-name h3{
    margin-top: 0;
}

.rs-profile h3 img{ background-color: tomato;}

.rs-profile p{
    font-size: 14px;
    opacity: 0.8;
}

.rs-media p{
    font-size: 20px;
    margin-top: 30px;
    opacity: 0.5;
}

.rs-media div{
    margin-top: 20px;
    max-height: 40svh;
    border-radius: 4px;
    overflow-y: scroll;
    display: grid; gap: 10px;
    grid-template-columns: 1fr 1fr;
    
}

.rs-media div img{
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.3;
}

.rs-media div img:hover{
    opacity: 1;
}







@media (max-width: 700px) {

    .rs{
        height: fit-content;
        padding: 20px 0 5px ;
    }

    .rs-profile{ gap: 5px;}

    .rs-profile .profile-img{width: 80px;}

    .rs-profile h3, .rs-profile p{color: var(--light);}

    .rs-profile p{  margin-top: -8px;}

    .rs-media{display: none;}

}