.tb{
    position: absolute;
    bottom: -200px; left: 0;
    height: 270px;
    width: 100vw;
    background-color: var(--secondary);
    padding: 20px 10px;

    display: flex;
    align-items: start; justify-content: space-around;
}

.tb button{
    border: none;
    background-color: transparent;
    color: var(--primary);
}

.tb button p{
    font-family: 'poppins-bold';
}

.tb button svg{ margin-top: 3px;}

.button-ischat{
    color: var(--primary);
}

.button-ischat .button-chat{
    color: var(--accent);
}

.button-isprofile{
    background-color: var(--accent);
}

.button-isprofile .logo, .button-isprofile .button-chat{
    color: var(--light);
    opacity: 0.5;
}

.button-isprofile .button-profile{
    color: var(--primary);
    opacity: 1;
}