.profile-update {
    min-height: 100svh;
    background-color: var(--light);
    display: flex;
    align-content: center; justify-content: center;
}

.profile-update .profile-pic{
    width: 200px;
    margin: 20px auto;
}

.profile-update .profile-pic.border{
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 6px solid var(--primary);
    background-color: var(--primary);
}

.profile-update form{
    display: flex; flex-direction: column; gap: 20px;
    width: 100%;
    padding: 40px 25px;
}

.profile-update form .form-top{
    display: flex;
    align-items: center; justify-content: space-between;
}

.profile-update form .form-top button{
    font-size: 12px;
}

.profile-update form h2{
    color: var(--primary);
    font-family: 'poppins-bold';
}

.profile-update label{
    display: flex; gap: 10px;
    align-items: center; justify-content: space-between;
    cursor: pointer;
}

.profile-update label .button{
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;

}

.profile-update label img{
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.profile-update input, textarea{
    background-color: var(--light);
    color: var(--primary);
    padding: 10px;
    min-width: 300px;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.profile-update input:focus, textarea:focus{
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px var(--primary);
}

.profile-update form button{
    border: none;
}

.profile-update .button-container{
    display: flex; gap: 30px;
    justify-content: center;
}

.profile-update .button-abbrechen{
    background-color: var(--accent);
    color: var(--primary);
}

@media (max-width: 700px) {

    .profile-update .profile-pic{ display: none;}

    .profile-update{
        padding: 0 20px;
    }

/*     .tb .button-chat{ color: var(--primary);}
    .tb .button-profile{ color: var(--accent);} */

}