@font-face { font-family: 'poppins'; src: url(assets/fonts/Poppins-Regular.ttf);}
@font-face { font-family: 'poppins-bold'; src: url(assets/fonts/Poppins-Bold.ttf);}
@font-face { font-family: 'candal'; src: url(assets/fonts/Candal-Regular.ttf);}

:root{
    --primary: #464FF9;
    --secondary: #EA77D1;
    --accent: #A8ACFF;
    --dark: #040751;
    --light: #E7E8FF;
    --online: #1FD516;
}

*{ padding: 0; margin: 0; box-sizing: border-box;
   font-family: 'poppins';
}

body{height: 100svh; overflow: hidden;
color: var(--dark);}

button{ cursor: pointer;}

.button{
    padding: 5px 20px;
    font-size: 15px;
    border: none; border-radius: 100px;
    font-family: 'poppins-bold';
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
}

::-webkit-scrollbar{display: none;}

img.dot{ width: 12px!important;}

img{background-size: cover; background-position: center; background-repeat: no-repeat; object-fit: cover;}

@media (min-width: 700px) {
    .button:hover{
        background-color: var(--secondary);
        color: var(--light);
    }
}